.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    /* background-color: white; */
    backdrop-filter: blur(0px);
    /* border-top: 1px solid #eaeaea;  */
    display: flex;
    justify-content: right;
    padding: 10px;
  }