.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .inputs {
    border-radius: 8px;
    border: 1px solid #cecece;
    font-size: 17px;
    width: 37%;
    box-shadow: 0 0 2px 2px lightGrey;
    margin: 20px;
 } 
 .heading {
    margin: 30px;
 }